* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #003459;
  --secondary: #f7dba7;
  --pink: #ff564f;
  --green: #34c759;
  --orange: #ff912c;
  --blue: #00a7e7;
  --neutral-100: #00171f;
  --neutral-80: #242b33;
  --neutral-60: #667479;
  --neutral-40: #99a2a5;
  --neutral-20: #ccd1d2;
  --neutral-10: #ebeeef;
  --neutral-00: #fdfdfd;
  --btn-background: var(--primary);
  --btn-background-hover: ;
  --btn-text-color: var(--neutral-00);
  --btn-text-color-hover: ;
  --btn-border: solid 1.5px var(--primary);
  --btn-text-decoration: none;
  --btn-radius: 57px;
  --btn-padding: 0.75em 1.5em;
  --card-radius: 1rem;
  --card-padding: 1rem;
}
html {
  font-size: 62.5%;
}
ul,
a {
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  min-width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 90%;
  margin: 2rem auto;
}
nav {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .input {
  display: flex;
  gap: 10px;
}
.input > div {
  border: 1px solid;
  border-radius: 20px;
  background-color: var(--neutral-00);
  display: flex;
  align-items: center;
}
.input input {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20x;
  background-color: transparent;
  outline: none;
}
.input img {
  transform: translateX(100%);
}
.input button {
  width: 20rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
  color: var(--neutral-00);
}
.currency {
  display: flex;
  gap: 5px;
}
select {
  background-color: transparent;
  border: none;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}
.navbar a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}
/* end of header */

#product {
  border: 1px solid var(--neutral-40);
  border-radius: var(--card-radius);
  padding: 2rem;
  display: flex;
  gap: 4rem;
}
.product-img {
  width: 50%;
}
#spotlight {
  width: 100%;
}
.arrow-keys {
  display: none;
}
#spotlight img {
  width: 100%;
}
.thumbnail {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}
.thumbnail img {
  width: 100%;
  height: 120px;
}
.thumbnail::-webkit-scrollbar {
  display: none;
}
.tag-line {
  display: flex;
  justify-content: space-between;
  background-color: #fceed5;
  padding: 0.5rem;
}
.health {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}
.health img {
  width: 17px;
}
.social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}
.sm img {
  margin: 0 0.5rem;
  width: 1.5rem;
}
.product-details {
  width: 50%;
}
.quicklinks ul {
  display: flex;
  gap: 1rem;
}
.quicklinks a {
  color: var(--neutral-40);
  font-weight: 600;
}
.top {
  margin: 1rem 0;
  line-height: 3rem;
}
.top h6 {
  color: var(--neutral-40);
  font-size: 1.2rem;
}
.button {
  display: flex;
  gap: 2rem;
}
.btn-primary {
  color: var(--neutral-10);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  text-decoration: none;
  background-color: var(--primary);
  white-space: nowrap;
}
.btn-secondary {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  white-space: nowrap;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}
td {
  border-bottom: 1px solid var(--neutral-40);
  text-align: left;
  padding: 1rem 0;
}
table p {
  padding-left: 1rem;
}
.customer-section {
  margin: 4rem 0;
}
.customer-section h5 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.customers {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}
.customers::-webkit-scrollbar {
  display: none;
}
.customers img {
  border-radius: var(--card-radius);
  margin: 0 0.15rem;
}
.customers img:last-child {
  border-radius: 1rem 0 0 1rem;
}
.customer-section span {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.tag-line2 {
  display: none;
}
.dog-kennel > div > span {
  line-height: 3rem;
}
.kennel {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
.kennel img {
  border-radius: var(--card-radius);
  width: 100%;
}
.dog {
  box-shadow: 0px 4px 28px -2px #00000014;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  width: 32%;
  line-height: 2.5rem;
}
.profile h4 {
  font-size: 1.3rem;
}
.profile p {
  color: var(--neutral-60);
}
.profile > span {
  display: flex;
  gap: 1rem;
}
.profile div {
  display: block;
  color: var(--primary);
  font-weight: 900;
  margin: -3px 0;
}

/* footer */

footer {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  border-radius: 10px;
  padding-top: 0.5rem;
}
footer form {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: var(--card-radius);
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form h3 {
  color: var(--neutral-00);
  font-size: 2rem;
  line-height: 3rem;
  padding: 1rem 0;
  width: 39%;
}
footer form span {
  display: flex;
  gap: 1rem;
  background-color: var(--neutral-00);
  padding: 1rem;
  border-radius: var(--card-radius);
  width: 60%;
}

footer input {
  border: solid 1px var(--neutral-40);
  color: var(--neutral-40);
  width: 100%;
  padding: var(--card-padding);
  border-radius: 10px;
}
footer .form-btn {
  background-color: var(--primary);
  color: var(--neutral-00);
  width: 13rem;
}
.footer-nav ul {
  display: flex;
  gap: 4rem;
  font-size: 1.4rem;
}
.footer-nav a {
  color: var(--neutral-100);
  text-decoration: none;
}
.footer-social img {
  width: 2rem;
}
.footer-social ul {
  display: flex;
  list-style: none;
  gap: 4rem;
  justify-content: center;
  margin: 0;
}
.container > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--neutral-40);
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--neutral-60);
  font-size: 0.75rem;
  margin: 1rem 0;
}
.footer-copyright > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  order: 1;
}
.footer-copyright span {
  display: flex;
  gap: 1rem;
  order: 1;
}
.footer-copyright a {
  color: var(--neutral-60);
  text-decoration: none;
  font-size: 1.2rem;
}
footer hr {
  display: none;
}
footer .container {
  margin-bottom: 0;
}
/* media query */
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 90%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 90%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1.6rem;
    position: relative;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    min-width: 100%;
    margin: 0 auto;
  }
  nav {
    display: block;
    background-color: #00a7e7;
  }
  .nav-info {
    position: absolute;
    top: 6rem;
    right: 7rem;
    z-index: 1;
  }
  .nav-arrow {
    position: absolute;
    top: 6rem;
    left: 7rem;
    z-index: 1;
  }
  .navbar {
    display: none;
  }
  #product {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .product-img {
    width: 100%;
  }
  #spotlight {
    margin-top: -5rem;
  }
  .arrow-keys {
    display: block;
  }
  .scroll-left {
    position: absolute;
    top: 30rem;
    left: 7rem;
    z-index: 1;
    transform: rotate(180deg);
  }
  .scroll-right {
    position: absolute;
    top: 30rem;
    right: 7rem;
    z-index: 1;
  }
  .thumbnail img {
    width: 100%;
  }
  .tag-line,
  .social-media {
    display: none;
  }
  .product-details {
    width: 100%;
  }
  .quicklinks {
    width: 100%;
  }
  .top {
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .tag-line2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fceed5;
    margin: 1rem 0;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 700;
  }
  .dog-kennel {
    width: 100%;
  }
  .dog-kennel > span > h3 {
    display: none;
  }
  .kennel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .dog {
    width: 48%;
  }

  /* footer */

  footer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: var(--card-radius);
    margin: 3rem 0;
  }
  footer form h3 {
    color: var(--neutral-00);
    line-height: 3rem;
    font-size: 2rem;
    padding: 1rem 0;
    width: 100%;
  }
  footer form span {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-00);
    padding: 1rem;
    border-radius: var(--card-radius);
    width: 100%;
  }
  footer input {
    padding: var(--card-padding);
    border-radius: 10px;
    border: solid 1px var(--neutral-40);
    color: var(--neutral-40);
    width: 100%;
  }
  footer .form-btn {
    background-color: var(--primary);
    color: var(--neutral-00);
    width: 100%;
  }
  footer > div > span {
    display: flex;
    flex-direction: column;
  }
  .footer-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  .footer-nav a {
    color: var(--neutral-100);
    text-decoration: none;
  }
  .footer-social img {
    width: 2rem;
  }
  .footer-social ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: space-between;
    margin: 2.5rem 0;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    color: var(--neutral-60);
    font-size: 0.75rem;
  }
  .footer-copyright > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  .footer-copyright span {
    display: flex;
    gap: 1rem;
  }
  .footer-copyright a {
    color: var(--neutral-60);
    text-decoration: none;
    font-size: 1.2rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
  .scroll-left {
    position: absolute;
    top: 25rem;
    left: 7rem;
    z-index: 1;
    transform: rotate(180deg);
  }
  .scroll-right {
    position: absolute;
    top: 25rem;
    right: 7rem;
    z-index: 1;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .scroll-left {
    position: absolute;
    top: 17rem;
    left: 4rem;
    z-index: 1;
    transform: rotate(180deg);
  }
  .scroll-right {
    position: absolute;
    top: 17rem;
    right: 4rem;
    z-index: 1;
  }
  .quicklinks {
    width: 100%;
    white-space: nowrap;
    display: flex;
    overflow-x: scroll;
  }
  .quicklinks::-webkit-scrollbar {
    display: none;
  }
  .nav-info {
    position: absolute;
    top: 6rem;
    right: 5rem;
    z-index: 1;
    width: 25px;
  }
  .nav-arrow {
    position: absolute;
    top: 6rem;
    left: 5rem;
    z-index: 1;
    width: 20px;
  }
  .btn-primary {
    width: 40%;
  }
  .btn-secondary {
    width: 60%;
  }
}
@media (max-width: 350px) {
  .container {
    width: 100%;
  }
  .scroll-left {
    position: absolute;
    top: 15rem;
    left: 4rem;
    z-index: 1;
    transform: rotate(180deg);
  }
  .scroll-right {
    position: absolute;
    top: 15rem;
    right: 4rem;
    z-index: 1;
  }
  .button {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .btn {
    width: 15rem;
  }
  .dog {
    width: 100%;
  }
  .footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
