* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #003459;
  --secondary: #f7dba7;
  --pink: #ff564f;
  --green: #34c759;
  --orange: #ff912c;
  --blue: #00a7e7;
  --neutral-100: #00171f;
  --neutral-80: #242b33;
  --neutral-60: #667479;
  --neutral-40: #99a2a5;
  --neutral-20: #ccd1d2;
  --neutral-10: #ebeeef;
  --neutral-00: #fdfdfd;
  --btn-background: var(--primary);
  --btn-background-hover: ;
  --btn-text-color: var(--neutral-00);
  --btn-text-color-hover: ;
  --btn-border: solid 1.5px var(--neutral-10);
  --btn-text-decoration: none;
  --btn-radius: 57px;
  --btn-padding: 0.75em 1.5em;
  --card-radius: 1rem;
  --card-padding: 1rem;
}
html {
  font-size: 62.5%;
}
ul,
a {
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 0.5rem;
  height: 100%;
  /* border: 2px solid red; */
}
nav {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.navbar span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .input {
  display: flex;
  gap: 10px;
}
.input > div {
  border: 1px solid;
  border-radius: 20px;
  background-color: var(--neutral-00);
  display: flex;
  align-items: center;
}
.input input {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20x;
  background-color: transparent;
}
.input img {
  transform: translateX(100%);
}
.input button {
  width: 20rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
  color: var(--neutral-00);
}
.currency {
  display: flex;
  gap: 5px;
}
select {
  background-color: transparent;
  border: none;
}
.navbar ul {
  display: flex;
  gap: 5rem;
}
.navbar a {
  color: var(--primary);
  font-weight: 600;
}
.quicklinks ul {
  display: flex;
  margin: 4rem 0 0.5rem;
}
.quicklinks a {
  color: var(--neutral-40);
  font-weight: 600;
}
.body-banner {
  background-color: #fceed5;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  border-radius: var(--card-padding);
  margin-bottom: 3rem;
}
.body-banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
.body-banner-text {
  text-align: end;
}
.body-banner-text h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--neutral-00);
}
.body-banner-text h4 {
  font-size: 2.25rem;
  line-height: 2.4rem;
  color: var(--neutral-00);
}
.body-banner-text p {
  margin: 2rem 0;
  color: var(--neutral-40);
}
.body-banner-button {
  display: flex;
  gap: 1rem;
}
.intro {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--neutral-10);
  background-color: transparent;
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
}
.explore {
  color: var(--primary);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  text-decoration: none;
  background-color: var(--neutral-10);
}
main {
  display: flex;
  gap: 2rem;
}
aside {
  width: 25%;
  margin: 2rem 0;
}
.aside-filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}
.aside-filter-item-title{
  font-size: 1.7rem;
}
.aside-filter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.aside-filter-item span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.body {
  width: 75%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
.title-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.title-content h3 {
  color: var(--primary);
}
.title-content h6 {
  color: var(--neutral-60);
}
.options {
  width: 18rem;
}
.kennel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
}
.kennel img {
  border-radius: var(--card-radius);
  width: 100%;
}
.dog {
  box-shadow: 0px 4px 28px -2px #00000014;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  width: 32%;
  line-height: 2.5rem;
}
.profile h4 {
  font-size: 1.3rem;
}
.profile p {
  color: var(--neutral-60);
}
.profile > span {
  display: flex;
  gap: 1rem;
}
.profile div {
  display: block;
  color: var(--primary);
  font-weight: 900;
  margin: -3px 0;
}
.pagination {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.pagination a {
  color: var(--primary);
  font-weight: 700;
}
.pagination a:nth-child(2) {
  border: 1px solid var(--primary);
  padding: 2.5px 10px;
  background-color: var(--primary);
  color: var(--neutral-00);
  border-radius: 5px;
}
/* footer */
footer {
  background-color: #fceed5;
  border-radius: 10px;
  padding-top: 0.5rem;
}
footer form {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: var(--card-radius);
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form h3 {
  color: var(--neutral-00);
  font-size: 2rem;
  line-height: 3rem;
  padding: 1rem 0;
}
footer form span {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--neutral-00);
  padding: 1rem;
  border-radius: var(--card-radius);
}

footer input {
  border: solid 1px var(--neutral-40);
  color: var(--neutral-40);
  width: 45rem;
  padding: var(--card-padding);
  border-radius: 10px;
}
footer .form-btn {
  background-color: var(--primary);
  color: var(--neutral-00);
  width: 13rem;
}
.footer-nav ul {
  display: flex;
  gap: 4rem;
  font-size: 1.4rem;
}
.footer-nav a {
  color: var(--neutral-100);
  text-decoration: none;
}
.footer-social img {
  width: 2rem;
}
.footer-social ul {
  display: flex;
  list-style: none;
  gap: 4rem;
  justify-content: center;
  margin: 0;
}
.container > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--neutral-40);
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--neutral-60);
  font-size: 0.75rem;
  margin: 1rem 0;
}
.footer-copyright > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  order: 1;
}
.footer-copyright span {
  display: flex;
  gap: 1rem;
  order: 1;
}
.footer-copyright a {
  color: var(--neutral-60);
  text-decoration: none;
  font-size: 1.2rem;
}
footer hr {
  display: none;
}
/* mediaqueries utility classes */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  footer form h3 {
    line-height: 3rem;
    font-size: 1.7rem;
  }
  footer form span {
    display: flex;
    flex-direction: column;
  }
  .footer-nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  .footer-social ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
    margin: 2.5rem 0;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
