* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #003459;
  --secondary: #f7dba7;
  --pink: #ff564f;
  --green: #34c759;
  --orange: #ff912c;
  --blue: #00a7e7;
  --neutral-100: #00171f;
  --neutral-80: #242b33;
  --neutral-60: #667479;
  --neutral-40: #99a2a5;
  --neutral-20: #ccd1d2;
  --neutral-10: #ebeeef;
  --neutral-00: #fdfdfd;
  --btn-background: var(--primary);
  --btn-background-hover: ;
  --btn-text-color: var(--neutral-00);
  --btn-text-color-hover: ;
  --btn-border: solid 1.5px var(--neutral-10);
  --btn-text-decoration: none;
  --btn-radius: 57px;
  --btn-padding: 0.75em 1.5em;
  --card-radius: 1rem;
  --card-padding: 1rem;
}
html {
  font-size: 62.5%;
}
ul,
a {
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 0.5rem;
  height: 100%;
  /* border: 2px solid red; */
}
nav {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.navbar span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .input {
  display: flex;
  gap: 10px;
}
.input > div {
  border: 1px solid;
  border-radius: 20px;
  background-color: var(--neutral-00);
  display: flex;
  align-items: center;
}
.input input {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20x;
  background-color: transparent;
}
.input img {
  transform: translateX(100%);
}
.input button {
  width: 20rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
  color: var(--neutral-00);
}
.currency {
  display: flex;
  gap: 5px;
}
select {
  background-color: transparent;
  border: none;
}
.navbar ul {
  display: flex;
  gap: 5rem;
}
.navbar a {
  color: var(--primary);
  font-weight: 600;
}
.quicklinks ul {
  display: flex;
  margin: 4rem 0 0.5rem;
}
.quicklinks a {
  color: var(--neutral-40);
  font-weight: 600;
}
.body-banner {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  display: flex;
  align-items: center;
  padding: 0 4rem;
  border-radius: var(--card-padding);
  margin-bottom: 3rem;
  position: relative;
  overflow: clip;
}
.body-banner > img {
  z-index: 2;
}
#banner-1 {
  position: absolute;
  bottom: -5rem;
  right: -5rem;
  z-index: 1;
}
.body-banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  z-index: 2;
  margin-right: 2rem;
}
.body-banner-text {
  text-align: end;
}
.body-banner-text h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--neutral-00);
}
.body-banner-text h4 {
  font-size: 2.25rem;
  line-height: 2.4rem;
  color: var(--neutral-00);
}
.body-banner-text p {
  margin: 2rem 0;
  color: var(--neutral-40);
}
.body-banner-button span {
  display: flex;
  gap: 1rem;
}
.body-banner-button span img {
  width: 15px;
}
.btn-primary {
  color: var(--primary);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  text-decoration: none;
  background-color: var(--neutral-00);
  white-space: nowrap;
}
.btn-secondary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--neutral-00);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
main {
  display: flex;
  gap: 2rem;
}
aside {
  width: 25%;
  margin: 2rem 0;
}
.aside-filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}
.aside-filter-item-title {
  font-size: 1.7rem;
}
.aside-filter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.aside-filter-item span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.body {
  width: 75%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
.title-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.title-content h3 {
  color: var(--primary);
}
.title-content h6 {
  color: var(--neutral-60);
  font-size: 1.2rem;
}
.sort {
  width: 13rem;
}
.filter {
  display: none;
}
.kennel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
}
.kennel img {
  border-radius: var(--card-radius);
  width: 100%;
}
.dog {
  box-shadow: 0px 4px 28px -2px #00000014;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  width: 32%;
  line-height: 2.5rem;
}
.profile h4 {
  font-size: 1.3rem;
}
.profile p {
  color: var(--neutral-60);
}
.profile > span {
  display: flex;
  gap: 1rem;
}
.profile div {
  display: block;
  color: var(--primary);
  font-weight: 900;
  margin: -3px 0;
}
.pagination {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.pagination a {
  color: var(--primary);
  font-weight: 700;
}
.pagination a:nth-child(2) {
  border: 1px solid var(--primary);
  padding: 2.5px 10px;
  background-color: var(--primary);
  color: var(--neutral-00);
  border-radius: 5px;
}
/* footer */
footer {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  border-radius: 10px;
  padding-top: 0.5rem;
}
footer form {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: var(--card-radius);
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form h3 {
  color: var(--neutral-00);
  font-size: 2rem;
  line-height: 3rem;
  padding: 1rem 0;
}
footer form span {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--neutral-00);
  padding: 1rem;
  border-radius: var(--card-radius);
  width: 60%;
}

footer input {
  border: solid 1px var(--neutral-40);
  color: var(--neutral-40);
  width: 100%;
  padding: var(--card-padding);
  border-radius: 10px;
}
footer .form-btn {
  background-color: var(--primary);
  color: var(--neutral-00);
  width: 13rem;
}
.footer-nav ul {
  display: flex;
  gap: 4rem;
  font-size: 1.4rem;
}
.footer-nav a {
  color: var(--neutral-100);
  text-decoration: none;
}
.footer-social img {
  width: 2rem;
}
.footer-social ul {
  display: flex;
  list-style: none;
  gap: 4rem;
  justify-content: center;
  margin: 0;
}
.container > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--neutral-40);
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--neutral-60);
  font-size: 0.75rem;
  margin: 1rem 0;
}
.footer-copyright > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  order: 1;
}
.footer-copyright span {
  display: flex;
  gap: 1rem;
  order: 1;
}
.footer-copyright a {
  color: var(--neutral-60);
  text-decoration: none;
  font-size: 1.2rem;
}
footer hr {
  display: none;
}
/* mediaqueries utility classes */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 90%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 90%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  .navbar {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
    align-items: center;
  }
  nav > span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quicklinks a {
    color: var(--neutral-40);
    font-weight: 600;
    font-size: 1.3rem;
  }
  .body-banner {
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 1rem 0;
  }
  .body-banner img {
    width: 100%;
  }
  .body-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .body-banner-text {
    text-align: start;
  }
  .body-banner-text h1 {
    font-size: 3.8rem;
    line-height: 5rem;
    font-weight: 800;
    color: var(--primary);
  }
  .body-banner-text h4 {
    color: var(--primary);
    font-size: 2.6rem;
    line-height: 5rem;
  }
  .body-banner-text p {
    color: var(--neutral-80);
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .body-banner-button {
    width: 100%;
  }
  .body-banner-button span {
    display: flex;
    justify-content: center;
  }
  .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-10);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primary);
    width: 50%;
  }
  .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    text-decoration: none;
    width: 50%;
  }
  aside {
    display: none;
  }
  .body {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
  }
  .filter {
    display: block;
    font-size: 1.3rem;
  }
  .option {
    display: flex;
    align-items: baseline;
  }
  .filter span {
    display: flex;
    gap: 0.5rem;
  }

  .kennel {
    width: 100%;
  }
  .dog {
    width: 48%;
  }

  /* footer */

  footer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: var(--card-radius);
    margin: 3rem 0;
  }
  footer form h3 {
    color: var(--neutral-00);
    line-height: 3rem;
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  footer form span {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-00);
    padding: 1rem;
    border-radius: var(--card-radius);
    width: 100%;
  }
  footer input {
    padding: var(--card-padding);
    border-radius: 10px;
    border: solid 1px var(--neutral-40);
    color: var(--neutral-40);
    width: 100%;
  }
  footer .form-btn {
    background-color: var(--primary);
    color: var(--neutral-00);
    width: 100%;
  }
  .footer-nav,
  .footer-social {
    width: 100%;
  }
  footer > div > span {
    display: flex;
    flex-direction: column;
  }
  .footer-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
  }
  .footer-nav a {
    color: var(--neutral-100);
    text-decoration: none;
  }
  .footer-social img {
    width: 2rem;
  }
  .footer-social ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
    margin: 2.5rem 0;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    color: var(--neutral-60);
    font-size: 0.75rem;
  }
  .footer-copyright > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  .footer-copyright span {
    display: flex;
    gap: 1rem;
  }
  .footer-copyright a {
    color: var(--neutral-60);
    text-decoration: none;
    font-size: 1.2rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .navbar {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
    align-items: center;
  }
  nav > span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quicklinks a {
    color: var(--neutral-40);
    font-weight: 600;
    font-size: 1.3rem;
  }
  .body-banner {
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 1rem 0;
    border-radius: var(--card-padding);
    margin-bottom: 3rem;
  }
  .body-banner img {
    width: 100%;
  }
  .body-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .body-banner-text {
    text-align: start;
  }
  .body-banner-text h1 {
    font-size: 3.8rem;
    line-height: 5rem;
    font-weight: 800;
    color: var(--primary);
  }
  .body-banner-text h4 {
    color: var(--primary);
    font-size: 2.6rem;
    line-height: 5rem;
  }
  .body-banner-text p {
    color: var(--neutral-80);
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .body-banner-button {
    width: 100%;
  }
  .body-banner-button span {
    display: flex;
    justify-content: center;
  }
  .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-10);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primary);
    width: 50%;
  }
  .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    text-decoration: none;
    width: 50%;
  }
  aside {
    display: none;
  }
  .body {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
  }
  .filter {
    display: block;
    font-size: 1.3rem;
  }
  .option {
    display: flex;
    align-items: baseline;
  }
  .filter span {
    display: flex;
    gap: 0.5rem;
  }

  .kennel {
    width: 100%;
  }
  .dog {
    width: 48%;
  }

  /* footer */

  footer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: var(--card-radius);
    margin: 3rem 0;
  }
  footer form h3 {
    color: var(--neutral-00);
    line-height: 3rem;
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  footer form span {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-00);
    padding: 1rem;
    border-radius: var(--card-radius);
    width: 100%;
  }
  footer input {
    padding: var(--card-padding);
    border-radius: 10px;
    border: solid 1px var(--neutral-40);
    color: var(--neutral-40);
    width: 100%;
  }
  footer .form-btn {
    background-color: var(--primary);
    color: var(--neutral-00);
    width: 100%;
  }
  .footer-nav,
  .footer-social {
    width: 100%;
  }
  footer > div > span {
    display: flex;
    flex-direction: column;
  }
  .footer-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
  }
  .footer-nav a {
    color: var(--neutral-100);
    text-decoration: none;
  }
  .footer-social img {
    width: 2rem;
  }
  .footer-social ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
    margin: 2.5rem 0;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    color: var(--neutral-60);
    font-size: 0.75rem;
  }
  .footer-copyright > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  .footer-copyright span {
    display: flex;
    gap: 1rem;
  }
  .footer-copyright a {
    color: var(--neutral-60);
    text-decoration: none;
    font-size: 1.2rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 90%;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
    padding: 1.5rem;
  }
  .navbar {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
    align-items: center;
  }
  nav > span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quicklinks a {
    color: var(--neutral-40);
    font-weight: 600;
    font-size: 1.3rem;
  }
  .body-banner {
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 1rem 0;
    border-radius: var(--card-padding);
    margin-bottom: 3rem;
  }
  .body-banner img {
    width: 100%;
  }
  .body-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .body-banner-text {
    text-align: start;
  }
  .body-banner-text h1 {
    font-size: 3.8rem;
    line-height: 5rem;
    font-weight: 800;
    color: var(--primary);
  }
  .body-banner-text h4 {
    color: var(--primary);
    font-size: 2.6rem;
    line-height: 5rem;
  }
  .body-banner-text p {
    color: var(--neutral-80);
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .body-banner-button {
    width: 100%;
  }
  .body-banner-button span {
    display: flex;
    justify-content: center;
  }
  .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-10);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primary);
    width: 50%;
  }
  .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    cursor: pointer;
    text-decoration: none;
    width: 50%;
  }
  aside {
    display: none;
  }
  .body {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
  }
  .filter {
    display: block;
    font-size: 1.3rem;
  }
  .option {
    display: flex;
    align-items: baseline;
  }
  .filter span {
    display: flex;
    gap: 0.5rem;
  }

  .kennel {
    width: 100%;
  }
  .dog {
    width: 48%;
  }

  /* footer */

  footer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: var(--card-radius);
    margin: 3rem 0;
  }
  footer form h3 {
    color: var(--neutral-00);
    line-height: 3rem;
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  footer form span {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-00);
    padding: 1rem;
    border-radius: var(--card-radius);
    width: 100%;
  }
  footer input {
    padding: var(--card-padding);
    border-radius: 10px;
    border: solid 1px var(--neutral-40);
    color: var(--neutral-40);
    width: 100%;
  }
  footer .form-btn {
    background-color: var(--primary);
    color: var(--neutral-00);
    width: 100%;
  }
  .footer-nav,
  .footer-social {
    width: 100%;
  }
  footer > div > span {
    display: flex;
    flex-direction: column;
  }
  .footer-nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
  }
  .footer-nav a {
    color: var(--neutral-100);
    text-decoration: none;
  }
  .footer-social img {
    width: 2rem;
  }
  .footer-social ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
    margin: 2.5rem 0;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    color: var(--neutral-60);
    font-size: 0.75rem;
  }
  .footer-copyright > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  .footer-copyright span {
    display: flex;
    gap: 1rem;
  }
  .footer-copyright a {
    color: var(--neutral-60);
    text-decoration: none;
    font-size: 1.2rem;
  }
}
@media (max-width: 350px){
  .dog{
    width: 100%;
  }
}